# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
node-red


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.HA_VERSION
.homekit.state
.ios.conf
.ring_cache.pickle
.uuid
home-assistant_v2.db
home-assistant.log
plex.conf
.ip_authenticated.yaml
